<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <div>
            <section class="container">
                <div class="product-detail">
                    <div class="product-view">
                        <div class="column-product-view">
                            <div class="product-view__image-container">
                                <img class="product-view__image" src="<%= product.image%>" alt="img">
                            </div>
                        </div>
                        <div class="column-product-information">
                            <div class="product-information__item">
                                <h2 class="product-information__name"><%= product.name%></h2>
                            </div>
                            <div class="product-information__item">
                                <div class="product-card__rating">
                                    <span class="product-card__rating-number"><%= product.rating%></span>
                                    <span class="product-card__ratings">
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                    </span>
                                    <span class="product-card__amount">(555)</span>
                                </div>
                            </div>
                            <div class="product-information__item product-information__item--price">
                                <div class="item__price-previous">
                                    <span class="product-card__symbol">$</span>
                                    <span>11.000</span>
                                </div>
                                <div class="item__price">
                                    <span class="item__symbol">$</span>
                                    <span><%= product.price%></span>
                                    <span class="item__price-discount">29% OFF</span>
                                </div>
                            </div>
                            <div class="product-information__item product-information__item--ingredients">
                                <h4 class="product-information__tittle">Ingredientes</h4>
                                <div class="product-information__ingredients-list">
                                    <ul class="product-information__ul">
                                        <li class="product-information__li">Ingrediente 1</li>
                                        <li class="product-information__li">Ingrediente 2</li>
                                        <li class="product-information__li">ingrediente 3</li>
                                        <li class="product-information__li">ingrediente 4</li>
                                        <li class="product-information__li">ingrediente 5</li>
                                        <li class="product-information__li">ingrediente 6</li>
                                        <li class="product-information__li">ingrediente 7</li>
                                        <li class="product-information__li">ingrediente 8</li>
                                        <li class="product-information__li">ingrediente 9</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-panel">
                        <button class="button button--product-panel" type="">Comprar ahora</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %>
</body>
</html>