<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <div>
            <section class="container container--product-create">
                <div class="product-create">
                    <div class="product-create-box">
                        <h2>Editar: <%= productToEdit.name %></h2>
                        <div class="product-create-box__collumn-container">
                            <div class="product-create-box__collumn">
                                <form method="POST" action="/product/update/<%= productToEdit.id %>?_method=PUT">
                                    <input class="form-box__input" type="text" name="name" value="<%= productToEdit.name %>">
                                    <select class="form-box__input" name="type" id="">
                                        <option value="food">Comida</option>
                                        <option value="drink">Bebida</option>
                                        <option value="dessert">Postre</option>
                                    </select>
                                    <input class="form-box__input" type="number" name="price" id="" value="<%= productToEdit.price %>">
                                    <input class="form-box__input" type="number" name="discount" id="" value="<%= productToEdit.discount %>">
                                    <input class="form-box__input" type="text" name="category" id="" value="<%= productToEdit.category %>">
                                    
                                    <input class="form-box__input" type="file" name="image" id="" accept=".jpg" multiple>

                                    <button class="button" type="submit">Modificar</button>
                                </form>
                            </div>
                            <!-- <div class="product-create-box__collumn"></div> -->
                            <div class="product-create-box__collumn"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- footer -->
    <!-- <%- include('../partials/footer') %> -->
</body>
</html>